In [20]:
import os
import pandas as pd

data_file = os.path.join('.', 'data/adult', 'adult.data')
data = pd.read_csv(
    data_file
    , names = [
        'age', 'workclass', 'fnlwgt'
        , 'education', 'education-num', 'marital-status'
        , 'occupation', 'relationship', 'race'
        , 'sex', 'capital-gain', 'capital-loss'
        , 'hours-per-week', 'native-country', 'salary-range'
    ]
    , index_col=False
)
print(data.iloc[:1, :])

   age   workclass  fnlwgt   education  education-num  marital-status  \
0   39   State-gov   77516   Bachelors             13   Never-married

      occupation    relationship    race    sex  capital-gain  capital-loss  \
0   Adm-clerical   Not-in-family   White   Male          2174             0

   hours-per-week  native-country salary-range
0              40   United-States        <=50K

In [18]:
data.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country'],
      dtype='object')

In [21]:
data['salary-range'].unique()

array([' <=50K', ' >50K'], dtype=object)